* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;

  .pages {
    width: 100%;
    height: 100%;
  }

  .nav {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    background-color: #222831;
    justify-content: space-between;

    text-align: center;
    padding: 20px;
    height: 10%;

    .links {
      display: flex;
      gap: 20px;
    }

    p {
      color: #dfd0b8;
      font-size: 18px;
      font-weight: 500;
    }
    a {
      color: #dfd0b8;
      text-decoration: underline;
    }
  }
}
